<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeTeam - Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container py-4">
    <h1 class="text-center mb-4">Notes</h1>

    <h2 class="text-muted mb-3">Shared Notes</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" th:each="tmpNote : ${sharedNotes}">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-primary" th:text="${tmpNote.title}"></h5>
                    <p class="text-end text-muted small">Created by: <span th:text="${tmpNote.creator.userId}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-muted mt-5 mb-3">Your Notes</h2>

    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#createNoteModal">
        +
    </button>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
        <div class="col" th:each="tmpNote : ${ownNotes}">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-primary" th:text="${tmpNote.title}"></h5>
                    <p class="text-end text-muted small">Created by: <span th:text="${tmpNote.creator.userId}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createNoteModal" tabindex="-1" aria-labelledby="createNoteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNoteModalLabel">Create New Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createNoteForm" th:action="@{/notes}" method="POST">
                        <div class="mb-3">
                            <label for="noteTitle" class="form-label">Title</label>
                            <input type="text" class="form-control" id="noteTitle" name="title" required>
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href="/" class="btn btn-outline-primary me-2">Home</a>
        <form action="#" method="POST" th:action="@{/logout}" class="d-inline">
            <button type="submit" class="btn btn-danger">Log out</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
